QTextEdit 
{
	background-color: rgb(50, 150, 255);
	color: gray;
	selection-background-color: black;
	selection-color: white;
}

QComboBox 
{
	background-color: white;
	color: black;
	selection-background-color: rgb(150, 55, 150);
	selection-color: white;
}

QStatusBar
{
	background-color: white;
	color: gray;
}